

<h2 style="margin-top: 20px;">Gestion Multiple de Orden de Servicio</h2>

<b>Filtros:</b></br>

{% if doc.item_code %}
    <b>Productos:</b> {% for row1 in doc.item_code %} {% if loop.index > 1 %} | {% endif %} {{ row1.item}} {% endfor %}</br>
{% endif %}

{% if doc.hoja_de_vida_del_bien %}
    <b>Hoja de vida del Bien:</b> {{ doc.hoja_de_vida_del_bien}}</br>
{% endif %}

{% if doc.status %}
    <b>Estado:</b> {{ doc.status}}</br>
{% endif %}

{% if doc.ubicacion %}
    <b>Ubicacion:</b> {{ doc.ubicacion}}</br>
{% endif %}

{% if doc.desde %}
    <b>Desde:</b> {{ doc.desde}}</br>
{% endif %}

{% if doc.hasta %}
    <b>Hasta:</b> {{ doc.hasta}}</br>
{% endif %}

</br>
</br>
</br>
<table border="1" cellspacing="0" cellpadding="2">
    <thead style="font-size: 0.8em;">
        <tr>
            <th>#</th>
            <th>Código de Producto</th>
            <th>Nombre de Producto</th>
            <th>Hoja de Vida del Bien</th>
            <th>Estado</th>
            <th>Ubicación</th>
            <th>Plan de Mantenimiento</th>
            <th>Fecha Ultimo Mantenimiento Preventivo</th>
            <th>Fecha Proximo Mantenimiento Preventivo</th>
            <th>Nro. Ordenes de Servicio Abiertas</th>
            <th>Vigencia Prox. Servicio</th>
        </tr>
    </thead>
    <tbody style="font-size: 0.7em;">
        {% for row in selected_data %}
        <tr text-align="center">
            <td>{{ loop.index }}</td>
            <td>
                {% if row.item_code %}
                    {{ row.item_code }}
                {% endif %}
            </td>
            <td>
                {% if row.item_name %}
                    {{ row.item_name }}
                {% endif %}
            </td>
            <td>
                {% if row.hoja_de_vida_del_bien %}
                    {{ row.hoja_de_vida_del_bien }}
                {% endif %}
            </td>
            <td>
                {% if row.estado %}
                    {{ row.estado }}
                {% endif %}
            </td>
            <td>
                {% if row.ubicacion %}
                    {{ row.ubicacion }}
                {% endif %}
            </td>
            <td>
                {% if row.cl_plantilla_de_mantenimiento %}
                    {{ row.cl_plantilla_de_mantenimiento }}
                {% endif %}
            </td>
            <td>
                {% if row.fecha_ultimo_mantenimiento %}
                    {{ row.fecha_ultimo_mantenimiento }}
                {% endif %}
            </td>
            <td>
                {% if row.fecha_proximo_mantenimiento %}
                    {{ row.fecha_proximo_mantenimiento }}
                {% endif %}
            </td>
            <td>
                {% if row.nro_ordenes %}
                    {{ row.nro_ordenes }}
                {% endif %}
            </td>
            <td>
            {% if row.vig_prox_serv %}
                {% if row.vig_prox_serv > 5 %}
                <b style="color: green;">{{ row.vig_prox_serv }}</b>
                {% endif %}
                {% if row.vig_prox_serv <= 0 %}
                <b style="color: red;">{{ row.vig_prox_serv }}</b>
                {% endif %}
                {% if row.vig_prox_serv > 0 and row.vig_prox_serv <= 5 %}
                <b style="color: orange;">{{ row.vig_prox_serv }}</b>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

